@{
    Layout = "_Layout_black";
}
<h2 style="color:dimgray; margin-top:10%; margin-left:20%">Thank you for confirming your email address</h2>
<br>
<a class="btn btn-secondary" style="margin-left: 20%" href="/Identity/Account/Login">Go to Login page</a>